div.enlighterEnlighterJSWrapper.EnlighterJSWrapper {
  font-size: inherit;
  line-height: inherit;
}

div.enlighterEnlighterJSWrapper.EnlighterJSWrapper pre {
  font-size: 85%;
  line-height: 135%;
}

div.enlighterEnlighterJSWrapper.EnlighterJSWrapper ol.enlighterEnlighterJS.EnlighterJS, div.enlighterEnlighterJSWrapper.EnlighterJSWrapper ul.enlighterEnlighterJS.EnlighterJS {
  font-size: inherit;
  line-height: inherit;
}

div.enlighterEnlighterJSWrapper.EnlighterJSWrapper ol.enlighterEnlighterJS.EnlighterJS li, div.enlighterEnlighterJSWrapper.EnlighterJSWrapper ul.enlighterEnlighterJS.EnlighterJS li {
  font-size: 75%;
  line-height: 135%;
}

.h5p-fullscreen div.enlighterEnlighterJSWrapper.EnlighterJSWrapper ol.enlighterEnlighterJS.EnlighterJS li {
  margin-left: 80px;
}

div.enlighterEnlighterJSWrapper.EnlighterJSWrapper span, div.enlighterEnlighterJSWrapper.EnlighterJSWrapper pre span {
  font-size: 113%;
}

span.enlighterEnlighterJS.EnlighterJS {
  font-size: 85%;
}

span.enlighterEnlighterJS.EnlighterJS span {
  font-size: inherit;
  line-height: 130%;
}

span.enlighterEnlighterJS.EnlighterJS {
  padding: 3px 5px 3px 5px;
}

.h5p-alternative-inner .EnlighterJSWrapper {
  display: block;
}

.h5p-alternative-inner .EnlighterJSWrapper .EnlighterJSToolbar {
  display: none;
}

.h5p-alternative-inner .EnlighterJSWrapper:hover .EnlighterJSToolbar {
  display: block;
}
